* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3, a, p, li {
  color: #33475b;
}
p {
  font-size: 13px;
}

.orange-buttom {
  background-color: #ff7a59;
  color: white;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
}
.orange-buttom:hover {
  background-color: #ffbcac;
  border-color: #ffbcac;
}

a.learn-more-btn {
  width: 140px;
  height: 55px;
  padding: 18px;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}

.main-box-border {
  border: 1px solid white;
  border-radius: 5px;
}

.width-box {
  width: 70%;
  height: 100%;
  margin: auto;
}

.float-left {
  display: inline-block;
  float: left;
}
.float-right {
  display: inline-block;
  float: right;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 75px;
  background-color: #edf6f9;
  line-height: 75px;
  border-bottom: 1px solid #33475b;
  z-index: 2;
}
.header-top-link {
  padding-right: 20px;
}
.header-top-link .fa-angle-down {
  padding-right: 10px;
}

.header-top-submit {
  padding-left: 20px;
}
.fa-search {
  font-size: 10px;
  color: blue;
}
#submitHub {
  width: 86px;
  height: 35px;
  font-size: 10px;
  vertical-align: middle;
  background-color: #ff7a59;
  border: 1px solid #ff7a59;
  border-radius: 5px;
  padding: 10px;
  color: white;
  text-decoration: none;
}
#submitHub:hover {
  background-color: #ffbcac;
  border-color: #ffbcac;
}
#submitHub a {
  text-align: center;
}
#log-in {
  width: 60px;
  height: 35px;
  color: orange;
  border: 1px solid orange;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
  text-decoration: none;
}
#log-in:hover {
  background-color: #fff1ee;
}
#english {
  border-right: 1px solid #33475b;
  /* padding-right: 10px; */
}
.fa-globe-europe {
  padding-right: 5px;
}

.header-mid {
  margin-top: 75px;
  width: 100%;
  height: 75px;
  background-color: white;
  line-height: 75px;
}
.box-logo {
  display: inline-block;
}
#logo-hubspot {
  vertical-align: middle;
}

.menu li {
  padding-left: 30px;
  display: inline-block;
}
.menu .fa-angle-down {
  margin-left: 10px;
}

.header-bottom {
  position: relative;
  width: 100%;
  height: 695px;
  background-color: #FFF2EE;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.bott-head-box {
  width: 50%;
  padding-top: 35px;
}
.bott-head-box h1 {
  font-size: 47px;
  margin-top: 30px;
}
.space-line {
  line-height: 1.8;
}
#hubspot-btn {
  width: 175px;
  /* height: 70px; */
  text-align: center;
  padding-bottom: 30px;
}
.advice {
  font-size: 12px;
}

.header-bottom::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: #AFEBE4;
  border: 3px solid #33475b;
}

main {
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #F5F8FA;
}

#first-main-box {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #F5F8FA;
}
#first-main-box img {
  width: 280px;
  height: auto;
  margin-top: 30px;
}
#cube-block {
  text-align: center;
  padding: 0 150px;
}
#cube-block p {
  margin-top: 30px;
}

#second-main-box {
  width: 100%;
  height: 300px;
  background-color: #F5F8FA;
}
#book {
  width: 30%;
  height: 100%;
  background-color: white;
  text-align: center;
}
#book img {
  width: 150px;
  margin-top: 50px;
}
.images-main {
  width: 100px;
  height: 84px;
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}
#book-button {
  margin-top: 20px;
}

#write {
  width: 70%;
  height: 100%;
  background-color: white;
  padding-right: 170px;
  position: relative;
}
#write h2 {
  margin-top: 50px;
}

#write p {
  padding-top: 40px;
}
#write h3 {
  padding-top: 20px;
  font-size: 15px;
}
#write-menu li {
  display: inline-block;
  text-decoration: none;
  padding-top: 28px;
  padding-right: 15px;
  font-size: 13px;
}
hr {
  width: 50%;
  display: inline-block;
  line-height: 30px;
  position: absolute;
  right: 20%;
  bottom: 38%;
}
.fa-check-circle {
  color: orange;
  padding-right: 10px;
}

#thirth-main-box {
  width: 100%;
  /* height: 500px; */
  background-color: #F5F8FA;
  margin-top: 50px;
}
.main-column {
  width: 30%;
  height: 100%;
  background-color: white;
}
#mid-block {
  margin: 0 5%;
  position: relative;
}

.top-main-block {
  width: 100%;
  /* height: 300px; */
  text-align: center;
  border-bottom: 1px solid black;
}
.top-main-block h2 {
  padding-top: 20px;
}
.top-main-block p {
  padding: 25px 15px;
  font-size: 14px;
}

.bottom-main-block {
  padding-top: 30px;
  text-align: center;
}
.bottom-main-block h3 {
  text-align: center;
}
.bottom-main-block .normal-list {
  text-align: left;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 40px;
}
.bottom-main-block a {
  display: inline-block;
  text-align: center;
  margin-bottom: 20px;
}

.normal-list li {
  list-style: none;
}

.forth-main-box {
  width: 100%;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  margin-top: 50px;
}
.top-of-the-forth-block {
  width: 100%;
  text-align: center;
}
.top-of-the-forth-block h2 {
  color: white;
  padding: 35px;
}
.top-of-the-forth-block p {
  color: white;
  font-size: 14px;
}

.blue-box {
  margin-top: 50px;
}

.mid-of-the-forth-block {
  position: relative;
  width: 100%;
}
.cell {
  width: 25%;
  border: 0.5px solid white;
  text-align: center;
  padding: 20px;
  line-height: 40px;
}

.cell h2 {
  font-size: 40px;
  color: white;
  display: inline-block;
}
.cell p {
  font-size: 13px;
  color: white;
}
.cell img {
}
span {
  font-size: 30px;
  color: white;
}
.bdr-left-no{
  border-left: 0px;
}
.bdr-right-no {
  border-right: 0px;
}
.bdr-top-no {
  border-top: 0px;
}
.bdr-bottom-no {
  border-bottom: 0px;
}

.bottom-of-the-fourth-block {
  position: relative;
  width: 100%;
}
#app-marketplace {
  width: 150px;
}

#fifth-main-box {
  width: 100%;
  background-color: #fff;
}
.container-60 {
  width: 85%;
  height: 100%;
  margin: auto;
}

.top-left-fifth-box {
  display: inline;
  width: 30%;
  height: 100%;
}
#number-cont-60 {
  padding-top: 30px;
  padding-bottom: 20px;
}
#number-cont-60 h2 {
  font-size: 2.5rem;
}
.top-left-fifth-box p {
  font-size: 1.2rem;
  line-height: 1.8;
}

.sponsor-box {
  display: inline-block;
  width: 70%;
  height: 100%;
  line-height:40px;
  margin-top: 40px;
}
.sponsor-box img {
  width: 120px;
}
.sponsor-box-dimension {
  max-height: 100%;
  width: 100%;
  padding: 10px;
  text-align: center;
}
#monkey, #ware {
  margin-top: -20px;
}
#classpass {
  margin-top: -10px;
}



#bottom-fifth-box {
  width: 100%;
  margin-top: 40px;
}
.text-container {
  display: inline-block;
  width: 40%;
  height: 100%;
}
.closing-main-box {
  padding-top: 40px;
}
#hubspot-main-btn {
  width: 175px;
  text-align: center;
  padding-bottom: 30px;
}
.image-container {
  display: inline-block;
  width: 60%;
  height: 100%;
}
.woman-img-box img {
  width: 47%;
  height: 70%;
}

footer {
  position: relative;
}

.footer-container {
  width:100%;
  /* height: 600px; */
  background-color: #2D3E50;
  margin-top: 50px;
}

#top-footer-container {
  width: 100%;
  /* height: 400px; */
}
.footer-top-box {
  width: 25%;
  height: 100%;
  padding-top: 20px;
}
.h3-footer-box h3 {
  color: #fff;
  padding: 20px 0;;
}
.footer-list li {
  padding-bottom: 15px;
  color: #fff;
}
.footer-list a {
  color: #fff;
}
#btn-footer-box {
  padding-top: 10px;
}
#btn-footer-box a {
  font-size: 14px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  text-decoration: none;
}
#btn-footer-box:hover a {
  background-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}
#social-media {
  padding-top: 30px;
}
#social-media div {
  display: inline-block;
}
.social-box {
  padding-right: 20px;
}
.social-box a {
  color: #fff;
}
.social-box:hover a {
  color: rgba(0, 127, 255, 0.6);
}

#mid-footer-container {
  width: 100%;
  margin-top: 70px;
  border-bottom: 1px solid #fff;
}
.footer-mid-list-container {
  text-align: center;
}
.footer-mid-list li {
  display: inline-block;
  color: #fff;
  padding-right: 20px;
  margin-bottom: 20px;
}

#bottom-footer-container {
  width: 100%;
  height: 150px;
}
.box-50 {
  width: 50%;
  height: 100%;
}
#copyright, #policy {
  padding-top: 40px;
}
#copyright-text p {
  font-size: 16px;
  color: #fff;
}
.footer-bottom-list li {
  display: inline-block;
  padding-left: 20px;
  font-size: 18px;
}
.footer-bottom-list a {
  color: #fff;
}

.fixed-box {
  width: 200px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  position: fixed;
  bottom: 10%;
  right: 1%;
  padding: 30px 10px;
}
#fixed-text p {
  line-height: 1.4;
  color: #33475b;
  font-size: 13px;
  display: inline-block;
}
#fixed-text img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 30%);
}

.fa-hand-scissors {
  color: yellow;
}
.fa-comment-alt {
  font-size: 40px;
  padding: 10px;
  color: #fff;
  display: inline-block;
}
.icon-fixed-box {
  position: fixed;
  bottom: 0;
  right: 1%;
  margin-top: 10px;
  background-color: #425B76;
  border: 1px solid #425B76;
  border-radius: 50%;
}
